.jh-post {
  .jh-post__body{
    margin-bottom: 11rpx;
    padding: 32rpx;
    background-color: #FFFFFF;
    .jh-body__head{
      position: relative;
      .jh-body__head__name {
        position: absolute;
        top: 0;
        left: 110rpx;
        font-size: 32rpx;
        color: #000000;
        letter-spacing: 1.6rpx;
        font-weight: 400;
      }
    }
    .jh-body__title{
      margin-top: 54rpx;
      line-height: 45rpx;
      font-size: 45rpx;
    }
    .jh-body__content{
      margin-top: 19rpx;
      font-size: 28rpx;
      color: #A9A9A9;
      letter-spacing: 1.4rpx;
      font-weight: 400;
    }
    .jh-body__actions{
      margin-top: 42rpx;
    }
  }
  .jh-post__replies{
    .jh-replies__reply {
      margin-bottom: 11rpx;
      padding: 32rpx;
      background-color: #FFFFFF;
    }
  }
}