/*每个页面公共css */
uni-page-body {
  height: 100%;
  background-color: #efeff4;
}
.jh-view {
  height: 100%;
}

.jh-content {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}
.jh-avatar__small {
  width: 55rpx;
  height: 55rpx;
  flex-shrink: 0;
  margin-right: 10rpx;
  border-radius: 27.5rpx;
  overflow: hidden;
  image {
    width: 100%;
    height: 100%;
  }
}