/*每个页面公共css */
uni-page-body {
  height: 100%;
  background-color: #EFEFF4;
}
.jh-view{
  height: 100%;
}

.jh-content {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}